name: Linux

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    name: Debian Trixie
    uses: ./.github/workflows/tests.yml
    with:
      runner: ubuntu-latest
      container: debian:trixie
