name: MacOS

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  macos:
    name: macOS
    uses: ./.github/workflows/tests.yml
    with:
      runner: macos-14
