name: Windows

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  windows:
    name: Windows
    uses: ./.github/workflows/tests.yml
    with:
      runner: windows-2022
